a,
.color-text,
.btn-white,
.btn-white:hover {
  color: #dcb051;
}
a:hover {
  color: #c89628;
}
.highlight,
.dropcap-color:first-letter,
.btn-primary,
.hover-img .hover-inner,
.hover-img .hover-title,
.hover-img [class^="hover-title-"],
.hover-img [class*=" hover-title-"],
.schedule-time:before,
.carousel .carousel-control,
.progress .bar,
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.bg-mask-color > .bg-mask-layer,
.bg-color,
.tabbable > .nav li.active a,
.accordion-toggle.active,
.pagination ul li.active a,
.mejs-controls .mejs-time-rail .mejs-time-loaded {
  background: #dcb051;
}
.bg-fade.bg-color {
  background: rgba(220,176,81,0.5);
}
.bg-fade-strong.bg-color {
  background: rgba(220,176,81,0.2);
}
.bg-fade-weak.bg-color {
  background: rgba(220,176,81,0.8);
}
.btn-primary:hover {
  background: #c89628;
}
.btn-primary-inverse {
  background: #234fae;
}
.btn-primary-inverse:hover {
  background: #3769d7;
}
.earth-top .earth-rotate {
  box-shadow: 0 0 60px rgba(220,176,81,0.3) , 0 0 10px rgba(220,176,81,0.5), 0 0 1px rgba(220,176,81,0.4), 0 0 80px rgba(220,176,81,0.2), 0 0 1px rgba(255,255,255,0.2);
}
.hover-img {
  background: #32250a;
}
header.main {
  border-bottom: 2px solid #dcb051;
}
footer.main {
  border-top: 3px solid #dcb051;
}
.shadow-box {
  box-shadow: 0 3px 3px rgba(0,0,0,0.5) , 0 0 15px rgba(0,0,0,0.2) , 0 0 20px rgba(220,176,81,0.2);
}
.pagination ul li.active a {
  border-color: #dcb051;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: #e0b862;
}
footer.main textarea:focus,
footer.main input[type="text"]:focus,
footer.main input[type="password"]:focus,
footer.main input[type="datetime"]:focus,
footer.main input[type="datetime-local"]:focus,
footer.main input[type="date"]:focus,
footer.main input[type="month"]:focus,
footer.main input[type="time"]:focus,
footer.main input[type="week"]:focus,
footer.main input[type="number"]:focus,
footer.main input[type="email"]:focus,
footer.main input[type="url"]:focus,
footer.main input[type="search"]:focus,
footer.main input[type="tel"]:focus,
footer.main input[type="color"]:focus,
footer.main .uneditable-input:focus {
  border-color: #dcb051;
}
.domain-search input[type="text"]:focus {
  border-color: #dcb051;
}
.countdown.countdown-inline > div:first-child span.count,
.countdown.countdown-inline > div:first-child span.title {
  color: #dcb051;
}
.flexnav li.active > a {
  background: #dcb051;
  border-color: #dcb051 !important;
}
.flexnav li.active > a:hover {
  background: #dcb051;
}
.flexnav > li > a:hover {
  background: #d7a538;
}
.touch-button {
  background: #dcb051;
}
.touch-button:active {
  background: #d49f2b;
}
.flexnav-menu-button {
  background: #dcb051;
}
.fredsel-pagination > a {
  border: 2px solid #dcb051;
}
.fredsel-pagination > a.selected {
  background: #dcb051;
}
.pricing-table-featured .pricing-icon {
  color: #dcb051;
}
.pricing-table-featured .title {
  background: #dcb051;
}
.pricing-table-featured .pricing-specs li:hover {
  background: rgba(220,176,81,0.07);
}
.pricing-table-featured .pricing-specs li:hover >[class^="icon-"] {
  color: #dcb051;
}
.testimonial-color .testimonial-inner {
  border: 1px solid #dcb051;
  background: #dcb051;
}
.testimonial-color .testimonial-inner:after {
  border-color: #dcb051 transparent transparent transparent;
}
.testimonial-color .testimonial-inner:before {
  border-color: #dcb051 transparent transparent transparent;
}
.testimonial-color.testimonial-left .testimonial-inner:after,
.testimonial-color.testimonial-left .testimonial-inner:before {
  border-color: transparent #dcb051 transparent transparent;
}
.testimonial-color.testimonial-right .testimonial-inner:after,
.testimonial-color.testimonial-right .testimonial-inner:before {
  border-color: #dcb051 transparent transparent transparent;
}
.testimonial-color.testimonial-top .testimonial-inner:after,
.testimonial-color.testimonial-top .testimonial-inner:before {
  border-color: transparent transparent #dcb051 transparent;
}
.testimonial-color.testimonial-bottom .testimonial-inner:after,
.testimonial-color.testimonial-bottom .testimonial-inner:before {
  border-color: #dcb051 transparent transparent transparent;
}
.testimonial-color.testimonial-bottom-right .testimonial-inner:after,
.testimonial-color.testimonial-bottom-right .testimonial-inner:before {
  border-color: transparent #dcb051 transparent transparent;
}
.testimonial-color.testimonial-bottom-left .testimonial-inner:after,
.testimonial-color.testimonial-bottom-left .testimonial-inner:before {
  border-color: transparent transparent transparent #dcb051;
}
.testimonial-color.testimonial-top-left .testimonial-inner:after,
.testimonial-color.testimonial-top-left .testimonial-inner:before {
  border-color: transparent transparent transparent #dcb051;
}
.testimonial-color.testimonial-top-right .testimonial-inner:after,
.testimonial-color.testimonial-top-right .testimonial-inner:before {
  border-color: transparent transparent #dcb051 transparent;
}
.ls-nav-prev,
.ls-nav-next {
  color: #dcb051;
}
.ls-nav-prev:hover,
.ls-nav-next:hover {
  color: #dcb051;
}
.box-icon,
[class^="box-icon-"],
[class*=" box-icon-"] {
  background: #dcb051;
  color: #fff;
  transition: 0.3s;
}
.box-icon:hover,
[class^="box-icon-"]:hover,
[class*=" box-icon-"]:hover {
  background: #c89628;
  color: #fff;
}
.box-icon-black {
  background: #333;
}
.box-icon-black:hover {
  background: #000;
}
.box-icon-gray {
  background: #808080;
}
.box-icon-gray:hover {
  background: #4d4d4d;
}
.box-icon-white {
  background: #fff;
  color: #dcb051;
}
.box-icon-white:hover {
  color: #dcb051;
  background: #e6e6e6;
}
.box-icon-info {
  background: #2f96b4;
}
.box-icon-info:hover {
  background: #267890;
}
.box-icon-success {
  background: #51a351;
}
.box-icon-success:hover {
  background: #418241;
}
.box-icon-warning {
  background: #f89406;
}
.box-icon-warning:hover {
  background: #c67605;
}
.box-icon-danger {
  background: #bd362f;
}
.box-icon-danger:hover {
  background: #972b26;
}
.box-icon-inverse {
  background: #234fae;
}
.box-icon-inverse:hover {
  background: #1c3f8b;
}
.box-icon-to-normal:hover {
  background: #dcb051;
}
.box-icon-to-black:hover {
  background: #333;
}
.box-icon-to-gray:hover {
  background: #808080;
}
.box-icon-to-white:hover {
  background: #fff;
  color: #dcb051;
}
.box-icon-to-info:hover {
  background: #2f96b4;
}
.box-icon-to-success:hover {
  background: #51a351;
}
.box-icon-to-warning:hover {
  background: #f89406;
}
.box-icon-to-danger:hover {
  background: #bd362f;
}
.box-icon-to-inverse:hover {
  background: #234fae;
}
.box-icon-border,
[class^="box-icon-border"],
[class*=" box-icon-border"] {
  background: none;
  border: 2px solid #dcb051;
  color: #dcb051;
}
.box-icon-border:hover,
[class^="box-icon-border"]:hover,
[class*=" box-icon-border"]:hover {
  background: #dcb051;
  color: #fff !important;
}
.box-icon-border.box-icon-black,
[class^="box-icon-border"].box-icon-black,
[class*=" box-icon-border"].box-icon-black,
.box-icon-border.box-icon-to-black:hover,
[class^="box-icon-border"].box-icon-to-black:hover,
[class*=" box-icon-border"].box-icon-to-black:hover {
  border-color: #333;
  color: #333;
}
.box-icon-border.box-icon-black:hover,
[class^="box-icon-border"].box-icon-black:hover,
[class*=" box-icon-border"].box-icon-black:hover,
.box-icon-border.box-icon-to-black:hover:hover,
[class^="box-icon-border"].box-icon-to-black:hover:hover,
[class*=" box-icon-border"].box-icon-to-black:hover:hover {
  background: #333;
}
.box-icon-border.box-icon-gray,
[class^="box-icon-border"].box-icon-gray,
[class*=" box-icon-border"].box-icon-gray,
.box-icon-border.box-icon-to-gray:hover,
[class^="box-icon-border"].box-icon-to-gray:hover,
[class*=" box-icon-border"].box-icon-to-gray:hover {
  border-color: #808080;
  color: #808080;
}
.box-icon-border.box-icon-gray:hover,
[class^="box-icon-border"].box-icon-gray:hover,
[class*=" box-icon-border"].box-icon-gray:hover,
.box-icon-border.box-icon-to-gray:hover:hover,
[class^="box-icon-border"].box-icon-to-gray:hover:hover,
[class*=" box-icon-border"].box-icon-to-gray:hover:hover {
  background: #808080;
}
.box-icon-border.box-icon-white,
[class^="box-icon-border"].box-icon-white,
[class*=" box-icon-border"].box-icon-white,
.box-icon-border.box-icon-to-white:hover,
[class^="box-icon-border"].box-icon-to-white:hover,
[class*=" box-icon-border"].box-icon-to-white:hover {
  border-color: #fff;
  color: #fff;
}
.box-icon-border.box-icon-white:hover,
[class^="box-icon-border"].box-icon-white:hover,
[class*=" box-icon-border"].box-icon-white:hover,
.box-icon-border.box-icon-to-white:hover:hover,
[class^="box-icon-border"].box-icon-to-white:hover:hover,
[class*=" box-icon-border"].box-icon-to-white:hover:hover {
  color: #dcb051;
  background: #fff;
}
.box-icon-border.box-icon-info,
[class^="box-icon-border"].box-icon-info,
[class*=" box-icon-border"].box-icon-info,
.box-icon-border.box-icon-to-info:hover,
[class^="box-icon-border"].box-icon-to-info:hover,
[class*=" box-icon-border"].box-icon-to-info:hover {
  border-color: #2f96b4;
  color: #2f96b4;
}
.box-icon-border.box-icon-info:hover,
[class^="box-icon-border"].box-icon-info:hover,
[class*=" box-icon-border"].box-icon-info:hover,
.box-icon-border.box-icon-to-info:hover:hover,
[class^="box-icon-border"].box-icon-to-info:hover:hover,
[class*=" box-icon-border"].box-icon-to-info:hover:hover {
  background: #2f96b4;
}
.box-icon-border.box-icon-success,
[class^="box-icon-border"].box-icon-success,
[class*=" box-icon-border"].box-icon-success,
.box-icon-border.box-icon-to-success:hover,
[class^="box-icon-border"].box-icon-to-success:hover,
[class*=" box-icon-border"].box-icon-to-success:hover {
  border-color: #51a351;
  color: #51a351;
}
.box-icon-border.box-icon-success:hover,
[class^="box-icon-border"].box-icon-success:hover,
[class*=" box-icon-border"].box-icon-success:hover,
.box-icon-border.box-icon-to-success:hover:hover,
[class^="box-icon-border"].box-icon-to-success:hover:hover,
[class*=" box-icon-border"].box-icon-to-success:hover:hover {
  background: #51a351;
}
.box-icon-border.box-icon-warning,
[class^="box-icon-border"].box-icon-warning,
[class*=" box-icon-border"].box-icon-warning,
.box-icon-border.box-icon-to-warning:hover,
[class^="box-icon-border"].box-icon-to-warning:hover,
[class*=" box-icon-border"].box-icon-to-warning:hover {
  border-color: #f89406;
  color: #f89406;
}
.box-icon-border.box-icon-warning:hover,
[class^="box-icon-border"].box-icon-warning:hover,
[class*=" box-icon-border"].box-icon-warning:hover,
.box-icon-border.box-icon-to-warning:hover:hover,
[class^="box-icon-border"].box-icon-to-warning:hover:hover,
[class*=" box-icon-border"].box-icon-to-warning:hover:hover {
  background: #f89406;
}
.box-icon-border.box-icon-danger,
[class^="box-icon-border"].box-icon-danger,
[class*=" box-icon-border"].box-icon-danger,
.box-icon-border.box-icon-to-danger:hover,
[class^="box-icon-border"].box-icon-to-danger:hover,
[class*=" box-icon-border"].box-icon-to-danger:hover {
  border-color: #bd362f;
  color: #bd362f;
}
.box-icon-border.box-icon-danger:hover,
[class^="box-icon-border"].box-icon-danger:hover,
[class*=" box-icon-border"].box-icon-danger:hover,
.box-icon-border.box-icon-to-danger:hover:hover,
[class^="box-icon-border"].box-icon-to-danger:hover:hover,
[class*=" box-icon-border"].box-icon-to-danger:hover:hover {
  background: #bd362f;
}
.box-icon-border.box-icon-inverse,
[class^="box-icon-border"].box-icon-inverse,
[class*=" box-icon-border"].box-icon-inverse,
.box-icon-border.box-icon-to-inverse:hover,
[class^="box-icon-border"].box-icon-to-inverse:hover,
[class*=" box-icon-border"].box-icon-to-inverse:hover {
  border-color: #234fae;
  color: #234fae;
}
.box-icon-border.box-icon-inverse:hover,
[class^="box-icon-border"].box-icon-inverse:hover,
[class*=" box-icon-border"].box-icon-inverse:hover,
.box-icon-border.box-icon-to-inverse:hover:hover,
[class^="box-icon-border"].box-icon-to-inverse:hover:hover,
[class*=" box-icon-border"].box-icon-to-inverse:hover:hover {
  background: #234fae;
}
.box-icon-border.box-icon-to-normal:hover,
[class^="box-icon-border"].box-icon-to-normal:hover,
[class*=" box-icon-border"].box-icon-to-normal:hover {
  border-color: #dcb051;
  background: #dcb051;
}
.box-icon-border-dashed {
  border-style: dashed;
}
.animate-icon-border-rise:after,
.animate-icon-border-rise-alt:after {
  box-shadow: 0 0 0 2px #dcb051;
}
.animate-icon-border-rise.box-icon-black:after,
.animate-icon-border-rise-alt.box-icon-black:after,
.animate-icon-border-rise.box-icon-to-black:hover:after,
.animate-icon-border-rise-alt.box-icon-to-black:hover:after {
  box-shadow: 0 0 0 2px #333;
}
.animate-icon-border-rise.box-icon-gray:after,
.animate-icon-border-rise-alt.box-icon-gray:after,
.animate-icon-border-rise.box-icon-to-gray:hover:after,
.animate-icon-border-rise-alt.box-icon-to-gray:hover:after {
  box-shadow: 0 0 0 2px #808080;
}
.animate-icon-border-rise.box-icon-info:after,
.animate-icon-border-rise-alt.box-icon-info:after,
.animate-icon-border-rise.box-icon-to-info:hover:after,
.animate-icon-border-rise-alt.box-icon-to-info:hover:after {
  box-shadow: 0 0 0 2px #2f96b4;
}
.animate-icon-border-rise.box-icon-success:after,
.animate-icon-border-rise-alt.box-icon-success:after,
.animate-icon-border-rise.box-icon-to-success:hover:after,
.animate-icon-border-rise-alt.box-icon-to-success:hover:after {
  box-shadow: 0 0 0 2px #51a351;
}
.animate-icon-border-rise.box-icon-warning:after,
.animate-icon-border-rise-alt.box-icon-warning:after,
.animate-icon-border-rise.box-icon-to-warning:hover:after,
.animate-icon-border-rise-alt.box-icon-to-warning:hover:after {
  box-shadow: 0 0 0 2px #f89406;
}
.animate-icon-border-rise.box-icon-danger:after,
.animate-icon-border-rise-alt.box-icon-danger:after,
.animate-icon-border-rise.box-icon-to-danger:hover:after,
.animate-icon-border-rise-alt.box-icon-to-danger:hover:after {
  box-shadow: 0 0 0 2px #bd362f;
}
.animate-icon-border-rise.box-icon-inverse:after,
.animate-icon-border-rise-alt.box-icon-inverse:after,
.animate-icon-border-rise.box-icon-to-inverse:hover:after,
.animate-icon-border-rise-alt.box-icon-to-inverse:hover:after {
  box-shadow: 0 0 0 2px #234fae;
}
.animate-icon-border-rise.box-icon-to-normal:after:hover,
.animate-icon-border-rise-alt.box-icon-to-normal:after:hover {
  box-shadow: 0 0 0 2px #dcb051;
}
.animate-icon-border-rise.round:after,
.animate-icon-border-rise-alt.round:after {
  border-radius: 50%;
}
.animate-icon-border-fadeout {
  color: #fff;
  background: none;
  border: 2px solid #dcb051;
}
.animate-icon-border-fadeout:after {
  background: #dcb051;
}
.animate-icon-border-fadeout:hover {
  color: #dcb051;
  background: none;
}
.animate-icon-border-fadeout:hover:after {
  opacity: 0;
  transform: scale(1.5);
}
.animate-icon-border-fadeout.box-icon-black,
.animate-icon-border-fadeout.box-icon-to-black:hover {
  border-color: #333;
}
.animate-icon-border-fadeout.box-icon-black:after,
.animate-icon-border-fadeout.box-icon-to-black:hover:after {
  background: #333;
}
.animate-icon-border-fadeout.box-icon-black:hover,
.animate-icon-border-fadeout.box-icon-to-black:hover:hover {
  color: #333;
}
.animate-icon-border-fadeout.box-icon-gray,
.animate-icon-border-fadeout.box-icon-to-gray:hover {
  border-color: #808080;
}
.animate-icon-border-fadeout.box-icon-gray:after,
.animate-icon-border-fadeout.box-icon-to-gray:hover:after {
  background: #808080;
}
.animate-icon-border-fadeout.box-icon-gray:hover,
.animate-icon-border-fadeout.box-icon-to-gray:hover:hover {
  color: #808080;
}
.animate-icon-border-fadeout.box-icon-info,
.animate-icon-border-fadeout.box-icon-to-info:hover {
  border-color: #2f96b4;
}
.animate-icon-border-fadeout.box-icon-info:after,
.animate-icon-border-fadeout.box-icon-to-info:hover:after {
  background: #2f96b4;
}
.animate-icon-border-fadeout.box-icon-info:hover,
.animate-icon-border-fadeout.box-icon-to-info:hover:hover {
  color: #2f96b4;
}
.animate-icon-border-fadeout.box-icon-success,
.animate-icon-border-fadeout.box-icon-to-success:hover {
  border-color: #51a351;
}
.animate-icon-border-fadeout.box-icon-success:after,
.animate-icon-border-fadeout.box-icon-to-success:hover:after {
  background: #51a351;
}
.animate-icon-border-fadeout.box-icon-success:hover,
.animate-icon-border-fadeout.box-icon-to-success:hover:hover {
  color: #51a351;
}
.animate-icon-border-fadeout.box-icon-warning,
.animate-icon-border-fadeout.box-icon-to-warning:hover {
  border-color: #f89406;
}
.animate-icon-border-fadeout.box-icon-warning:after,
.animate-icon-border-fadeout.box-icon-to-warning:hover:after {
  background: #f89406;
}
.animate-icon-border-fadeout.box-icon-warning:hover,
.animate-icon-border-fadeout.box-icon-to-warning:hover:hover {
  color: #f89406;
}
.animate-icon-border-fadeout.box-icon-danger,
.animate-icon-border-fadeout.box-icon-to-danger:hover {
  border-color: #bd362f;
}
.animate-icon-border-fadeout.box-icon-danger:after,
.animate-icon-border-fadeout.box-icon-to-danger:hover:after {
  background: #bd362f;
}
.animate-icon-border-fadeout.box-icon-danger:hover,
.animate-icon-border-fadeout.box-icon-to-danger:hover:hover {
  color: #bd362f;
}
.animate-icon-border-fadeout.box-icon-inverse,
.animate-icon-border-fadeout.box-icon-to-inverse:hover {
  border-color: #234fae;
}
.animate-icon-border-fadeout.box-icon-inverse:after,
.animate-icon-border-fadeout.box-icon-to-inverse:hover:after {
  background: #234fae;
}
.animate-icon-border-fadeout.box-icon-inverse:hover,
.animate-icon-border-fadeout.box-icon-to-inverse:hover:hover {
  color: #234fae;
}
.animate-icon-border-fadeout.box-icon-to-normal {
  border-color: #dcb051;
}
.animate-icon-border-fadeout.box-icon-to-normal:after {
  background: #dcb051;
}
.animate-icon-border-fadeout.box-icon-to-normal:hover {
  color: #dcb051;
}
.animate-icon-border-fadein {
  color: #dcb051;
  background: none;
  border: 2px solid #dcb051;
}
.animate-icon-border-fadein:hover {
  color: #fff !important;
}
.animate-icon-border-fadein:hover:after {
  background: #dcb051;
}
.animate-icon-border-fadein.box-icon-black,
.animate-icon-border-fadein.box-icon-to-black:hover {
  color: #333;
  border-color: #333;
}
.animate-icon-border-fadein.box-icon-black:hover:after,
.animate-icon-border-fadein.box-icon-to-black:hover:hover:after {
  background: #333;
}
.animate-icon-border-fadein.box-icon-gray,
.animate-icon-border-fadein.box-icon-to-gray:hover {
  color: #808080;
  border-color: #808080;
}
.animate-icon-border-fadein.box-icon-gray:hover:after,
.animate-icon-border-fadein.box-icon-to-gray:hover:hover:after {
  background: #808080;
}
.animate-icon-border-fadein.box-icon-info,
.animate-icon-border-fadein.box-icon-to-info:hover {
  color: #2f96b4;
  border-color: #2f96b4;
}
.animate-icon-border-fadein.box-icon-info:hover:after,
.animate-icon-border-fadein.box-icon-to-info:hover:hover:after {
  background: #2f96b4;
}
.animate-icon-border-fadein.box-icon-success,
.animate-icon-border-fadein.box-icon-to-success:hover {
  color: #51a351;
  border-color: #51a351;
}
.animate-icon-border-fadein.box-icon-success:hover:after,
.animate-icon-border-fadein.box-icon-to-success:hover:hover:after {
  background: #51a351;
}
.animate-icon-border-fadein.box-icon-warning,
.animate-icon-border-fadein.box-icon-to-warning:hover {
  color: #f89406;
  border-color: #f89406;
}
.animate-icon-border-fadein.box-icon-warning:hover:after,
.animate-icon-border-fadein.box-icon-to-warning:hover:hover:after {
  background: #f89406;
}
.animate-icon-border-fadein.box-icon-danger,
.animate-icon-border-fadein.box-icon-to-danger:hover {
  color: #bd362f;
  border-color: #bd362f;
}
.animate-icon-border-fadein.box-icon-danger:hover:after,
.animate-icon-border-fadein.box-icon-to-danger:hover:hover:after {
  background: #bd362f;
}
.animate-icon-border-fadein.box-icon-inverse,
.animate-icon-border-fadein.box-icon-to-inverse:hover {
  color: #234fae;
  border-color: #234fae;
}
.animate-icon-border-fadein.box-icon-inverse:hover:after,
.animate-icon-border-fadein.box-icon-to-inverse:hover:hover:after {
  background: #234fae;
}
.animate-icon-border-fadein.box-icon-to-normal:hover {
  color: #dcb051;
  border-color: #dcb051;
}
.animate-icon-border-fadein.box-icon-to-normal:hover:hover:after {
  background: #dcb051;
}
.earth-top .earth-rotate.flare:before,
.earth-top .earth-rotate.flare:after {
  background-image: url("../../img/earth-flare/anzac.png");
}
